@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=DM+Serif+Display&family=Permanent+Marker&display=swap');

html,
body {

 }

body{
    background-color: darkseagreen;
    font-family: 'Averia Serif Libre', cursive;
}

h1,
h2 {
    color: rgb(248, 177, 85);
}

p{
    color: black;
}

#my-avatar {
    width: 150px;
    border-radius: 50%;
}

#content {
    text-align: center;
}

#my-name {
    font-family: 'Permanent Marker', cursive;
    color: #FA7070;
}

#left-side {
    width: 50%;
    display: inline-block;
   
}

#right-side {
    width: 49%;
    display: inline-block;
    text-align: right;
}

a {
    color: #FEBE8C;
    text-decoration: none;
    border-bottom: #F7A4A4;
}

header {
    margin-top: 16px;
}

.nav-link {
    margin-left: 8px;
}

footer {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 16px;

    footer a:first-child {
        margin-right: 16pxl;
    }
}

#content div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}